body {
    background-color:rgb(3, 0, 22);
    color:rgb(220, 132, 255);
    font-family: sans-serif;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 20px;
    padding-bottom: 5%;
}
.header {
    font-size: 85px;
    margin-top: 0%;
    margin-bottom: 0%;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 30px;
}

a {
    color:rgb(180, 198, 255);
}

.list {
    text-align: left;
    margin-left: 20%;
    width: 50%;
}

img {
    width: 70%;
}
footer {
    padding-top: 5%;
}